.container {
  visibility: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: yellow;
}

.temp {
  visibility: hidden;
}

.week {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: cornflowerblue;
}
