

body {
    height: 1313px;
    width: 1920px;
    margin: 0px;
    display: grid;
    grid-template-columns: 400px 1fr;
}

.header {
    display: grid;
    grid-template-rows: 100px repeat(auto-fit, minmax(50px, 50px));
    background-color: brown;
}

.header > div > p {
    margin-left: 50px;
}

.header > div {
    background-color: grey;
}

.header > div:first-child{ background-color:brown; }

.container , .projects{
    background-color: rgba(177, 95, 3, 0.993);
}

.todo {
    background-color: blue;
}
